# Next.js Public Environment Variables
NEXT_PUBLIC_API_URL=https://thapafamily.pythonanywhere.com/api/v1
NEXT_PUBLIC_APP_NAME="Family Tree"
NEXT_PUBLIC_APP_DESCRIPTION="Preserve and explore your family history and genealogy"
